.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.col {
  display: flex;
  align-items: center;
}
.botao-adicionar {
    color: white;
}
table {
  width: 100%;
}
button[mat-button] mat-icon,
button[mat-raised-button] mat-icon {
  vertical-align: middle;
  
}